* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

/* Main Header */
img {
  display: flex;
  width: 150px;
  height: auto;
  float: left;
  margin: 16px;
}

/* Buttons */
.btn {
  float: right;
  display: flex;
  align-items: center;
  font-size: 16px;
  padding: 12px 24px;
  border-radius: 4px;
  text-decoration: none;
  background-color: #270072;
  border: none;
  transition: background-color 0.3s ease;
  margin-left: 10px;
}

.student-btn {
  margin-right: 10px;
}

.admin-btn {
  margin-left: 10px;
}

.btn:hover {
  background-color: #3e8e41;
}
